.bg-custom{
	 background: linear-gradient(to right, #f76b1c, #ffcc00);
}
.navbar .nav-item:hover .nav-link{
	background-color: #e8f5e9 ;
	color: #000000;
	border-radius: 15px;
}
.login{
	background-color: #FF9001;
}
